<?link rel="stylesheet" type="text/css" href="/st_theme.css"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/template.zul"?>
<zk>
	<window xmlns="http://www.zkoss.org/2005/zul" width="100%"
		height="100%" self="@define(content)" border="none"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.sportech.cl.viewmodel.VersionViewModel')">
		<panel title="About Card Loader" width="100%" height="100%"
			maximizable="false" border="none" collapsible="false">
			<panelchildren>
				<listbox model="@load(vm.versions)" mold="paging"
					vflex="true" emptyMessage="No information found."
					autopaging="true">
					<listhead>
						<listheader label="Component Name"
							width="250px" />
						<listheader label="Verion" width="250px" />
					</listhead>
					<template name="model">
						<listitem>
							<listcell label="${each.name}"></listcell>
							<listcell label="${each.version}"></listcell>
						</listitem>
					</template>
				</listbox>
			</panelchildren>
		</panel>
	</window>
</zk>