<?link rel="stylesheet" type="text/css" href="/st_theme.css"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/template.zul"?>
<zk>
	<?init class="com.sportech.cl.zk.controller.AuthenticationInit"?>
	<?init class="com.sportech.cl.zk.controller.AuthorizationInit" role="Track Admin"?>
	<window xmlns="http://www.zkoss.org/2005/zul" width="100%"
		height="100%" self="@define(content)" border="none"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.sportech.cl.viewmodel.CardTemplateViewModel')">
		<panel title="Card Configurations" width="100%" height="100%"
			maximizable="false" border="none" collapsible="false">
			<toolbar mold="panel">
				<toolbarbutton label="New Configuration"
					image="/widgets/icons/add_btn_icon.png"
					onClick="@command('addItem')">
				</toolbarbutton>
			</toolbar>
			<panelchildren>
				<listbox model="@load(vm.entries)" mold="paging"
					onSelect="@command('editItem', item=self.selectedItem.value)"
					vflex="true" emptyMessage="No configurations found."
					autopaging="true">
					<listhead>
						<listheader label="Name" sort="auto(name)"
							width="150px" />
						<listheader label="" width="60px"
							align="center" />
					</listhead>
					<template name="model">
						<listitem>
							<listcell label="@load(each.name)" />
							<listcell>
								<button label=""
									image="/widgets/icons/detail_icon.png"
									onClick="@command('editItem', item=each)">
								</button>
							</listcell>
						</listitem>
					</template>
				</listbox>
			</panelchildren>
		</panel>
	</window>
</zk>