<?link rel="stylesheet" type="text/css" href="/st_theme.css"?>
<zk>
	<?init class="com.sportech.cl.zk.controller.AuthenticationInit"?>
	<?init class="com.sportech.cl.zk.controller.AuthorizationInit" role="Track Admin"?>
	<window xmlns="http://www.zkoss.org/2005/zul" width="100%"
		height="100%" border="none" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('cdm') @init('com.sportech.cl.viewmodel.CdmViewModel', container = arg.container, card = arg.card, ro=arg.readonly, showDefault=arg.showDefault)"
		validationMessages="@id('vmsgs')">
		<listbox visible="@load(cdm.defaultPanel)" vflex="1" model="@bind(cdm.detail.defaultMinimums)"
			emptyMessage="No default pool minimums defined.">
			<auxhead sclass="category-center">
				<auxheader colspan="1">
					<button label="Add Default" disabled="@load(cdm.readonly)"
						image="/widgets/icons/add_btn_icon.png"
						onClick="@command('insertParameter', type='D')" width="150px" />
				</auxheader>
				<auxheader colspan="3">
					<label value="@bind(vmsgs['defaultCdm'])" />
				</auxheader>
			</auxhead>
			<listhead>
				<listheader label="Pool Type" align="center"
					width="200px" />
				<listheader label="Minimum Wager" align="center"
					width="180px" />
				<listheader label="Increment Amount" align="center"
					width="180px" />
				<listheader label="Remove" align="center" width="100px" />
			</listhead>
			<template name="model" var="p">
				<listitem>
					<listcell>
						<combobox model="@load(cdm.defaultPoolTypes)" disabled="@load(cdm.readonly)"
							selectedItem="@bind(p.poolType)" constraint="no empty"
							value="@load(p.poolType.name)" width="150px">
							<template name="model">
								<comboitem
									label="@load(each.name)" value="@load(each)" />
							</template>
						</combobox>
					</listcell>
					<listcell>
						<decimalbox inplace="true" disabled="@load(cdm.readonly)"
							value="@bind(p.minAmount)  @validator(cdm.defaultMinAmountValidator)"
							format="##0.00" constraint="no empty, no negative" />
					</listcell>
					<listcell>
						<decimalbox inplace="true" disabled="@load(cdm.readonly)"
							value="@bind(p.incrementAmount) @validator(cdm.defaultValidator)"
							format="##0.00" constraint="no empty, no negative" />
					</listcell>
					<listcell>
						<toolbarbutton disabled="@load(cdm.readonly)"
							image="/widgets/icons/delete_btn_icon.png"
							onClick="@command('deleteParameter', type='D', parameter=p)">
						</toolbarbutton>
					</listcell>
				</listitem>
			</template>
		</listbox>
		<listbox vflex="1" model="@bind(cdm.detail.overrideMinimums)" visible="@load(not cdm.defaultPanel)"
			emptyMessage="No override pool minimums defined.">
			<auxhead sclass="category-center">
				<auxheader colspan="1">
					<button label="Add Override" disabled="@load(cdm.readonly)"
						image="/widgets/icons/add_btn_icon.png"
						onClick="@command('insertParameter',  type='O')" width="150px" />
				</auxheader>
				<auxheader colspan="3">
					<label value="@bind(vmsgs['overrideCdm'])" />
				</auxheader>
			</auxhead>
			<listhead>
				<listheader label="Pool Type" align="center"
					width="200px" />
				<listheader label="Races" align="center"
					width="120px" />
				<listheader label="Minimum Wager" align="center"
					width="150px" />
				<listheader label="Increment Amount" align="center"
					width="150px" />
				<listheader label="Remove" align="center" width="100px" />
			</listhead>
			<template name="model" var="p">
				<listitem>
					<listcell>
						<combobox model="@load(cdm.overPoolTypes)" disabled="@load(cdm.readonly)"
							selectedItem="@bind(p.poolType)" constraint="no empty"
							value="@load(p.poolType.name)" width="150px">
							<template name="model">
								<comboitem
									label="@load(each.name)" value="@load(each)" />
							</template>
						</combobox>
					</listcell>
					<listcell>
						<textbox inplace="true" disabled="@load(cdm.readonly)"
							value="@bind(p.raceNumber)  @validator(cdm.raceNumberValidator)" constraint="no empty" />
					</listcell>

					<listcell>
						<decimalbox inplace="true" disabled="@load(cdm.readonly)"
							value="@bind(p.minAmount) @validator(cdm.overrideMinAmountValidator)"
							format="##0.00" constraint="no empty, no negative" />
					</listcell>
					<listcell>
						<decimalbox inplace="true" disabled="@load(cdm.readonly)"
							value="@bind(p.incrementAmount) @validator(cdm.overrideValidator)"
							format="##0.00" constraint="no empty, no negative" />
					</listcell>
					<listcell>
						<toolbarbutton disabled="@load(cdm.readonly)"
							image="/widgets/icons/delete_btn_icon.png"
							onClick="@command('deleteParameter', type='O', parameter=p)">
						</toolbarbutton>
					</listcell>
				</listitem>
			</template>
		</listbox>
	</window>
</zk>
