<?link rel="stylesheet" type="text/css" href="/st_theme.css"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/template.zul"?>
<zk>
	<?init class="com.sportech.cl.zk.controller.AuthenticationInit"?>
	<?init class="com.sportech.cl.zk.controller.AuthorizationInit" role="Load Card Viewer,Load Card Editor"?>
	<window xmlns="http://www.zkoss.org/2005/zul" width="100%"
		height="100%" self="@define(content)" border="none"
		apply="org.zkoss.bind.BindComposer">
		<panel xmlns="http://www.zkoss.org/2005/zul" border="none"
			apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('com.sportech.cl.viewmodel.SoftCardViewModel', approved=false)"
			framable="true" title="Pending Load Cards" width="100%"
			maximizable="false" collapsible="true">
			<toolbar mold="panel">
				<toolbarbutton
					label="@load(vm.pendingLoadCardButtonTitle)"
					disabled="@load(vm.pendingLoadCardButtonDisabled)"
					image="/widgets/icons/publish_btn_icon.png"
					onClick="@command('approveCards') @global-command('refreshLoadCards')">
				</toolbarbutton>
				<toolbarbutton label="Delete Selected"
					disabled="@load(vm.pendingLoadCardButtonDisabled)"
					image="/widgets/icons/delete_btn_icon.png"
					onClick="@command('confirmDelete')">
				</toolbarbutton>
				<toolbarbutton label="Mirror from Selected"
					disabled="@load(vm.mirrorCardButtonDisabled)"
					onClick="@command('createMirror')">
				</toolbarbutton>
			</toolbar>
			<panelchildren>
				<window title="Confirm" mode="modal" border="normal"
					visible="@load(not empty vm.deleteMessage)" width="300px">
					<vbox hflex="true">
						<hlayout height="50px">
							<image
								src="~./zul/img/msgbox/question-btn.png" />
							<label value="@load(vm.deleteMessage)" />
						</hlayout>
						<hbox pack="center" hflex="true">
							<button label="Delete"
								onClick="@command('deleteCards')" />
							<button label="Cancel"
								onClick="@command('cancelDelete')" />
						</hbox>
					</vbox>
				</window>
				<listbox model="@load(vm.cards)" multiple="true"
					checkmark="true" selectedItems="@bind(vm.selectedCards)"
					mold="paging" emptyMessage="No pending load cards."
					pageSize="10">
					<auxhead sclass="category-center">
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1" align="center">
							<datebox instant="true" width="100px"
								lenient="false" compact="false" buttonVisible="true"
								value="@bind(vm.cardFilter.cardDate)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1">
							<textbox instant="true" width="100px"
								value="@bind(vm.cardFilter.description)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1" align="center">
							<textbox instant="true" width="70px"
								value="@bind(vm.cardFilter.loadCode)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1">
							<label value="Tote:"></label>
							<textbox instant="true" width="100px"
								value="@bind(vm.cardFilter.toteName)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1"></auxheader>
					</auxhead>
					<listhead>
						<listheader width="30px" align="center"></listheader>
						<listheader label="Card Date" width="150px"
							sort="auto(cardDate)" align="center" />
						<listheader label="Description" />
						<listheader label="Load Code" align="center"
							width="80px" />
						<listheader label="Permitted Totes"
							width="200px" />
						<listheader label="Pattern Name" width="200px" />
						<listheader width="80px" align="center" />
					</listhead>
					<template name="model" var="card">
						<listitem>
							<listcell></listcell>
							<listcell
								label="@load(card.cardDate) @converter('formatedDate', format='yyyy/MM/dd')" />
							<listcell label="@load(card.description)" />
							<listcell label="@load(card.loadCode)" />
							<listcell label="@load(card.toteName)">
							</listcell>
							<listcell>
								<div
									tooltip="'totePopup'+${card.id}, position=start_before, delay=500">
									<button autodisable="self"
										label="@load(card.patternDescription)"
										onClick="@command('viewPattern', patternId=card.patternId)">
									</button>
								</div>
								<popup id="'totePopup'+${card.id}">
									<include src="totedetail.zul"
										patternId="${card.patternId}" />
								</popup>
							</listcell>
							<listcell>
								<button label="" autodisable="self"
									image="/widgets/icons/detail_icon.png"
									onClick="@command('editCard', card=card)">
								</button>
							</listcell>
						</listitem>
					</template>
				</listbox>
			</panelchildren>
		</panel>
		<panel xmlns="http://www.zkoss.org/2005/zul" border="none"
			apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('com.sportech.cl.viewmodel.SoftCardViewModel', approved=true)"
			framable="true" title="Activated Load Cards" width="100%"
			maximizable="false" collapsible="true">
			<toolbar mold="panel">
				<toolbarbutton label="Refresh"
					image="/widgets/icons/refresh_icon.png"
					onClick="@command('changeFilter')">
				</toolbarbutton>
				<toolbarbutton label="Deactivate Selected"
					disabled="@load(vm.pendingLoadCardButtonDisabled)"
					image="/widgets/icons/publish_btn_icon.png"
					onClick="@command('disableCards') @global-command('refreshLoadCards')">
				</toolbarbutton>
				<toolbarbutton label="Export Selected"
					disabled="@load(vm.pendingLoadCardButtonDisabled)"
					image="/widgets/icons/publish_btn_icon.png"
					onClick="@command('exportCards')">
				</toolbarbutton>
			</toolbar>
			<panelchildren>
				<listbox sclass="employee-list" vflex="1" hflex="1"
					checkmark="true" selectedItems="@bind(vm.selectedCards)"
					model="@load(vm.cards)" mold="paging"
					emptyMessage="No activated load cards found." pageSize="10">
					<auxhead sclass="category-center">
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1" align="center">
							<datebox instant="true" width="100px"
								lenient="false" compact="false" buttonVisible="true"
								value="@bind(vm.cardFilter.cardDate)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1">
							<textbox instant="true" width="100px"
								value="@bind(vm.cardFilter.description)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1" align="center">
							<textbox instant="true" width="70px"
								value="@bind(vm.cardFilter.loadCode)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1">
							<label value="Tote:"></label>
							<textbox instant="true" width="100px"
								value="@bind(vm.cardFilter.toteName)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1"></auxheader>
					</auxhead>
					<listhead>
						<listheader label="" width="30px"
							align="center" />
						<listheader label="Card Date" width="150px"
							sort="auto(cardDate)" align="center" />
						<listheader label="Description" />
						<listheader label="Load Code" align="center"
							width="80px" />
						<listheader label="Tote Approvals Count"
							width="150px" align="center" />
						<listheader label="Permitted Totes"
							width="200px" />
						<listheader label="Pattern Name" width="200px" />
						<listheader width="80px" align="center" />
					</listhead>
					<template name="model" var="card">
						<listitem>
							<listcell></listcell>
							<listcell
								label="@load(card.cardDate) @converter('formatedDate', format='yyyy/MM/dd')" />
							<listcell label="@load(card.description)" />
							<listcell label="@load(card.loadCode)" />
							<listcell label="@load(card.inUseCount)"></listcell>
							<listcell label="@load(card.toteName)"></listcell>
							<listcell>
								<div
									tooltip="'totePopup1'+${card.id}, position=start_before, delay=500">
									<button autodisable="self"
										label="@load(card.patternDescription)"
										onClick="@command('viewPattern', patternId=card.patternId)">
									</button>
								</div>
								<popup id="'totePopup1'+${card.id}">
									<include src="totedetail.zul"
										patternId="${card.patternId}" />
								</popup>
							</listcell>
							<listcell>
								<button label="" autodisable="self"
									image="/widgets/icons/detail_icon.png"
									onClick="@command('editCard', card=card)">
								</button>
							</listcell>
						</listitem>
					</template>
				</listbox>
			</panelchildren>
		</panel>
	</window>
</zk>
