body{
/*default*/
background:url(widgets/img/flag-bg.png) #2b353a 0px 0px no-repeat;
}
.z-borderlayout{
	padding-top:5px;
	margin:auto;
}
.z-south, .footer{
	background-color:rgba(43,53,58,0.50);
}
.footer{
    padding:4px;
}
.footer a{
color:#ffffff;
font-family: "open sans";
font-size:10px;
text-decoration:none;}

.z-listbox{
	/*border:0px;
	box-shadow:rgba(0,0,0,0.50) 2px 2px 3px;*/
	border:1px solid #ccc;
	background:#ffffff;
}

.z-window-modal .z-listbox-header tr.z-listhead{
background: none repeat scroll 0 0 #333333;
color: #FFFFFF;
}
.z-window-modal .z-listbox-header tr.z-listhead th{
background: none repeat scroll 0 0 #333333;
color: #FFFFFF;
} 

.z-window-modal .z-window-content{background-color:#efefef;}

.z-window-content{
/*background:transparent;*/
border:0px;
/*    padding:0px;*/
}
.z-west .z-window-content {
    background:none;
}
.z-west-body .z-window {
    background:#333333;
}
.z-center-body .z-window-content {
    background:none;
}
.z-center-body .z-window {
    /*background:none;*/
    background:url(widgets/img/stardust-w.jpg) 0px 0px #fcfcfc;
}

ul.global-nav{
	list-style-type:none;
margin:0;
/*padding:18px 10px 1px 10px;*/
padding:0px;
height: 40px;
float:left;
}
ul.global-nav li{
	float:left;
}
ul.global-nav li a{
	height:20px;
padding:18px 10px 1px 10px;
display:block;
color:#ffffff;
font-family: "open sans";
font-size:12px;
text-decoration:none;
}
ul.global-nav li a:hover{
	background:#1E0505;
}
ul.global-nav li a span{
	height:24px;
	width:24px;
	background:#95CC23;
	float:left;
	margin:-6px 4px 0px 0px;
}

ul.global-nav li:nth-child(1) a span{
	background:url(widgets/icons/dash_app_icon.png) 0px 0px transparent no-repeat;
}
ul.global-nav li:nth-child(2) a span{
	background:url(widgets/icons/cardloader_app_icon.png) 0px 0px transparent no-repeat;
}
ul.global-nav li:nth-child(3) a span{
	background:url(widgets/icons/dr_app_icon.png) 0px 0px transparent no-repeat;
}
ul.global-nav li:nth-child(4) a span{
	background:url(widgets/icons/assoc_app_icon.png) 0px 0px transparent no-repeat;
}
ul.global-nav li:nth-child(5) a span{
	background:url(widgets/icons/sub_app_icon.png) 0px 0px transparent no-repeat;
}

.z-window-icon.z-window-close i.z-icon-times{
	font-size:16px;
	line-height:20px;
}

/*popup styles */
.z-popup .z-listbox{
	border:0px;
	box-shadow:none;
	background:#ffffff;
}
.z-window-modal{
	background:#ffffff;
}
.z-popup .z-window-content{
background:transparent;
border:0px;
}
.z-popup .z-window{
	background:rgba(256,256,256,1);
}

.cl-detail-window{
	background:rgba(256,256,256,1);
}
.z-east{
background:transparent;
}
.z-center{
background:transparent;
}
.cl-nav{
	background:#333333;
}

.z-north{
    height:40px;
	/*background:transparent;*/
background: #780001; /* Old browsers */
background: -moz-linear-gradient(left,  #780001 0%, #cc0001 100%); /* FF3.6+ */
background: -webkit-linear-gradient(left,  #780001 0%,#cc0001 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #780001 0%,#cc0001 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #780001 0%,#cc0001 100%); /* IE10+ */
background: linear-gradient(to right,  #780001 0%,#cc0001 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#780001', endColorstr='#cc0001',GradientType=1 ); /* IE6-9 */

}

.z-north .z-menubar{background:none;
border:0px;
}

.z-north .z-menubar .z-menu-content .z-menuitem-text {
    text-shadow:0px;
    color:#ffffff;
}

.z-borderlayout{
	background:transparent;
}
.z-panel{	
	background:transparent;
	margin-bottom: 5px;
}
.z-panel-icon{
border-radius:0px;
}
/* we can remove the "no-border" property in the .zul*/
/*.z-panelchildren{
    border:1px solid #ccc;
}*/

/* Header Alterations */
.z-window-header {
    color: #363636;
    font-style: normal;
    font-weight: bold;
}
.z-auxheader-content span.z-label{
font-size:1.1em;
padding-left:2px;
/*text-shadow:rgba(0,0,0,0.20) 1px 1px;*/
color:#373737;
font-weight:600;
}
.sidebar .z-auxheader-content{
    margin-top:4px;}
.z-panel-head{
	/*background: rgba(225, 237, 244, 0.8);*/
    background:#333333;
    border-radius:0px;
    box-shadow:none;
    border:0px;
}
.z-panel-head div.z-panel-header{
    font-family: "open sans";
	font-size:12px;
padding-left:2px;
/*text-shadow:rgba(255,255,255,0.20) 1px 1px;
color:#373737;*/
    color:#ffffff;
font-weight:normal;
background:transparent;
    text-transform:uppercase;
}
div.z-panel-header div.z-panel-expand{
	text-shadow:none;
	font-size:14px;
}
.z-panel-body{
/*background: rgba(240, 246, 249, 0.85);*/
    background:#ffffff;
    border-radius:0px;
}
.z-toolbarbutton{
border:1px solid #c3c3c3;
	background: linear-gradient(to bottom, #f8f8f8 0%, #e7e7e7 100%);
	height:26px;
	padding:2px;
    border-radius:0px;
}
.z-toolbarbutton:first-child{
margin-left:4px;}
.z-toolbarbutton-content{
	text-shadow:none;
}
.z-toolbarbutton-content span{
	font-size: 11px;
    padding: 1px 3px 6px 2px;}
.z-toolbarbutton[disabled]{
border: 1px solid #c3c3c3;
background: linear-gradient(to bottom, #f8f8f8 0%, #e7e7e7 100%);
}
.z-toolbarbutton[disabled] .z-toolbarbutton-content{
    color:#919191;
}
div.z-panel-top div.z-toolbar.z-toolbar-panel{
padding:4px 4px 4px 0px;
}
.z-toolbar-panel td.z-toolbar-horizontal:first-child{
padding-left:0px;
}

.tip {
background-color: #FFFEE6;
padding: 12px;
margin-bottom: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
	box-shadow:rgba(0,0,0,0.50) 2px 2px 3px;
}

.tip-img {
background: transparent none no-repeat scroll 0 0;
background-image: url(widgets/icons/idea_icon.png);
position: relative;
float: left;
width: 16px;
height: 16px;
}

.tip-text {
position: relative;
color: #8F5700;
padding: 0 0 0 20px;
}
i.z-icon-approvebtn{
	display:block;
	float:left;
	height:20px;
	width:20px;
background-image:url(widgets/icons/approved_btn_icon.png);
}

.cl-vbox tbody tr td table tbody tr.z-vbox-separator td{
	border-top:1px solid #cfcfcf;
}

/* login box theme */
.cl_loginbox.z-window{
    background:transparent;
    border:0px;
}
.cl_loginbox div.z-window-content{
    background:transparent;
    border:0px;
}
.cl_loginbox .z-window-header{
    color:#ffffff;
    font-weight: 400;
    font-size: 16px;
}
.cl_loginbox .z-vbox{
    border:0px;
    color:#ffffff;
}
.cl_loginbox .z-row{
    background:transparent;
    border:0px;
}
.cl_loginbox .z-row:hover{
    background:transparent;
    border:0px;
}
.cl_loginbox .z-row-inner{
    background:transparent;
    border:0px;
}
.cl_loginbox .z-row-inner:hover{
    background:transparent;
    border:0px;
}
.cl_loginbox .z-row:hover>.z-row-inner, .cl_loginbox .z-row:hover>.z-cell{
    background:transparent;
    border:0px;
}

.cl_loginbox .z-label{
    color:#ffffff;
}
.cl_loginbox .z-grid{
    border:0px;
}
.cl_loginbox .z-textbox{
    color:#000000;
    padding-left:30px;
background:url(widgets/icons/contact_icon_grey.png) 2px 2px no-repeat #ffffff;
    }
.cl_loginbox .z-grid-odd .z-textbox{
    color:#000000;
    padding-left:30px;
background:url(widgets/icons/key_icon_grey.png) 2px 1px no-repeat #ffffff;
    }
    
.error {
	color: red; 
}

.z-tab{
border-radius:0px;
background: #eee;
color: #666;
}
.z-tab-selected{
background:#fff;
}
.z-tabpanel .z-toolbar{
background:#eeeeee;
border: 1px solid #ddd;
}
.z-panel-body{
border: 1px solid #ddd;
}
.z-tabpanel .z-listbox-body table tbody tr td{
    border-left:1px #ddd solid;
    border-bottom:1px #ddd solid;
}
.z-tabpanel .z-listbox-body table tbody tr td:last-child{
    border-right:1px #ddd solid;
}
.z-tabpanel .z-listbox-header table tbody tr th{
border:0px #ddd solid;
}
.z-tabpanel .z-listbox-header .z-listheader{
    background:#333;
    color:#fff;
}
.z-tabpanel .z-listbox-header .z-listheader-content{
    color:#fff;
    font-weight:normal;
    text-transform:uppercase;
}
.z-tabpanels {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    position: relative;
}

.sidebar .z-row-content a{
    color:#999999;
    text-decoration:none;
}
.sidebar .z-row:hover .z-row-content a{
    color:#ffffff;
    text-decoration:none;
}
.sidebar .z-a {
font-family: Roboto;
font-size: 11px;
text-transform: uppercase;
    font-weight:normal;
}
.sidebar .z-grid-header tr:nth-child(2){
color#FFDD00;
}
.sidebar .z-row .z-row-inner, .z-row .z-cell {
border-left: 0px;
overflow: hidden;
}

.sidebar .z-column-content{
    background:#333333;
font-family: Roboto;
font-size: 11px;
text-transform: uppercase;
    font-weight:normal;
	color:#FFDB00;
}
.z-column {
border-left: 0px;
border-bottom: 0px;
}
.sidebar .z-row img{
opacity:0.5;
}
.sidebar .z-row:hover img{
opacity:1;
}
.sidebar .z-grid-header th img{
opacity:1;
}
.sidebar .z-grid-odd>.z-row-inner, .z-grid-odd>.z-cell{
/*background:#3d3d3d;*/
    background:#333333;
}
.sidebar .z-row:hover>.z-row-inner, .z-row:hover>.z-cell {
background:#3d3d3d;
}

.sidebar .z-auxheader, .sidebar .z-grid-header{
background:transparent;
    border-bottom:0px;
}
.sidebar .z-grid-header-border {
border-bottom: 1px solid #282828;
}
.z-grid {
border: 0px;
}

ul.z-menupopup-content li.z-menuitem span.z-menuitem-text{
	color:#000000;
}

.z-menu-content, .z-menuitem-content{
border-radius:0px;
}
.z-menu-content:hover, .z-menuitem-content:hover {
color:#000000;
background:#ffffff;
border:0px;}

.z-menu-text, .z-menuitem-text, .z-menu-icon {
color:#ffffff;
text-shadow:none;
}
.z-menu-content:hover .z-menu-text{
color:#000000;
text-shadow:none;
}
.z-menu-content:hover .z-menu-icon{
color:#000000;
}

.z-menu-selected .z-menu-text{
color:#000000;
text-shadow:none;
}
.z-menu-selected .z-menu-icon{
color:#000000;
}

.z-menubar{
	padding-bottom:0px;
}

.cl-usernav .z-menu-selected > .z-menu-content{
	background:transparent;
	border:0px;
}
.z-menupopup-content .z-menuitem .z-menutitem-content span{
	color:#555555;
}

.z-temp, .z-modal-mask {
    background: none repeat scroll 0 0 #333333;
}