.banner {
        background-color:#102d35;
        color: white;
        padding: 5px 10px;
}
.banner-head{
        font-size: 2.4em;
}
.banner .logout{
        text-decoration: underline;
        cursor: pointer;
} 

.footer {
        background-color:#102d35;
        color: white;
        padding-top: 5px;
}

.footer a,.footer a:VISITED {
        color: white;        
}

.sidebar a,.sidebar a:VISITED {
        color: black;
        text-decoration: none;
}

.sidebar-fn{
        cursor: pointer;
}


.head1{
        font-size: large;
}
.head2{
        font-size: medium;
}

.row-title .z-label{
        font-weight: bold;
        color:#636363;
}

.fn-caption .z-caption-l{
        font-weight: bold;
        font-size: medium;
        color: #636363;
}

.complete-todo .z-label{
        text-decoration: line-through;
}

.warn{
        color:red;
}

.demo-main a,.demo-main a:VISITED{
        color:#636363;
        text-decoration: underline;
        font-size: smaller;        
}

.todo-box {
        padding-right:4px;
}
.summary-list .z-listcell-cnt {
    text-align: center;
} 
.cardSys .topic,
.cardSys .topic .z-label,
.cardSys .z-window-embedded-header {
    font-weight: bold;
    font-size: 14px;
} 
.cardSys .z-grid,
.cardSys .z-listbox {
    border: 1px solid #9F9F9F;
}
.cardSys .z-listbox {
    border-right: 0 none;
    border-bottom: 0 none;
}
.employee-list .z-listcell-cnt {
    text-align: center;
} 
.card-pre .card {
    margin: 70px auto 50px;
    text-align: center; 
    width: 300px;
    height: 168px;
    -moz-box-shadow: 0px 0px 8px gray;
    -webkit-box-shadow: 0px 0px 8px gray;
    box-shadow: 0px 0px 8px gray;
    background-color: #008BB6;  
}
.card-pre .card .title {
    margin-top: 10px;
}
.card-pre .card .title,
.card-pre .card .z-label {
    color: white;
    font-size: 0.95em ;
    font-family: monospace;
    text-shadow: 1px 1px 3px #3C3C3C;
}
.card-pre .card .name {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    color: #ECECEC;
    text-shadow: 1px 1px 3px #3C3C3C;
}
.card-pre .card .number {
    margin-top: 15px;
    font-size: 12px;
    color: white;
}

.hightlight { 
    color: #1469AB; font-weight: bold; 
}
.error {
    color: red; 
}