<?link rel="stylesheet" type="text/css" href="/st_theme.css"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/template.zul"?>
<zk>
	<?init class="com.sportech.cl.zk.controller.AuthenticationInit"?>
	<?init class="com.sportech.cl.zk.controller.AuthorizationInit" role="Track Admin"?>
	<window xmlns="http://www.zkoss.org/2005/zul" width="100%"
		height="100%" self="@define(content)" border="none"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.sportech.cl.viewmodel.TrackViewModel')">
		<panel title="Tracks" width="100%" height="100%"
			maximizable="false" border="none" collapsible="false">
			<toolbar mold="panel">
				<toolbarbutton label="New Track"
					image="/widgets/icons/add_btn_icon.png"
					onClick="@command('addTrack')">
				</toolbarbutton>
			</toolbar>
			<panelchildren>
				<listbox model="@load(vm.tracks)" mold="paging"
					onSelect="@command('editTrack', track=self.selectedItem.value)"
					vflex="true" emptyMessage="No tracks found." autopaging="true">
					<auxhead>
						<auxheader colspan="1" align="center">
							<combobox model="${vm.cardTypes}"
								width="100px" value="@bind(vm.filter.cardType)"
								onSelect="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1" align="center">
							<textbox instant="true" width="60px"
								value="@bind(vm.filter.country)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1" align="center">
							<textbox instant="true" width="60px"
								value="@bind(vm.filter.code)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1">
							<textbox instant="true" width="160px"
								value="@bind(vm.filter.name)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1" align="center">
							<textbox instant="true" width="60px"
								value="@bind(vm.filter.toteCode)"
								onChange="@command('changeFilter')" />
						</auxheader>
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1"></auxheader>
						<auxheader colspan="1"></auxheader>
					</auxhead>
					<listhead>
						<listheader label="Track Type" width="120px"
							align="center" sort="auto(trackType)" />
						<listheader label="Country" width="100px"
							align="center" sort="auto(countryCode)" />
						<listheader label="Track Code" width="100px"
							align="center" sort="auto(equibaseId)" />
						<listheader label="Name" sort="auto(name)"
							width="350px" />
						<listheader label="Tote Code" width="100px"
							align="center" />
						<listheader label="Perf Type" width="100px"
							align="center" sort="auto(perfType)" />
						<listheader label="Card Configuration"
							width="150px" align="center" />
						<listheader label="Auto Gen" width="70px"
							align="center" />
						<listheader label="Pattern" width="100px"
							align="center" />
						<listheader label="" width="60px"
							align="center" />
					</listhead>
					<template name="model">
						<listitem>
							<listcell label="@load(each.trackType)" />
							<listcell label="@load(each.countryCode)" />
							<listcell label="@load(each.equibaseId)" />
							<listcell label="@load(each.name)" />
							<listcell label="@load(each.toteTrackId)" />
							<listcell label="@load(each.perfType)" />
							<listcell
								label="@load(each.cardConfig.name)" />
							<listcell>
								<image
									src="/widgets/icons/status_approved.png"
									visible="@load(each.autoGenerate)">
								</image>
							</listcell>
							<listcell
								label="@load(each.defaultPattern.loadCode)" />
							<listcell>
								<button label=""
									image="/widgets/icons/detail_icon.png"
									onClick="@command('editTrack', track=each)">
								</button>
							</listcell>
						</listitem>
					</template>
				</listbox>
			</panelchildren>
		</panel>
	</window>
</zk>
