<?link rel="stylesheet" type="text/css" href="/st_theme.css"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="/template.zul"?>
<zk>
	<window xmlns="http://www.zkoss.org/2005/zul"
		self="@define(content)" border="none">
	</window>
</zk>